extends layout

block content
  .row
    .small-12.columns
      h1= title
      p How much have you put in, and are you up or down?
      p Last updated at: #{time}

  br

  .row
    each account in infos
      .large-4.small-12.columns
        h2= account.currency
        p Exchange rate: $#{account.exchange_rate}
        p Amount spent in USD: $#{account.usd_spent}
        p Worth in USD: $#{account.usd_value}
        p Coin count: #{account.listed_coin_count}
        p m#{account.currency}: #{parseFloat(account.listed_coin_count) * 1000}
        p ROI:&nbsp;
          span(style= account.percentage > 0 ? 'color:green' : 'color:red') #{account.percentage}
    else
      p LOL nothing?
