extends layout

block content
  h1= title
  p How much have you put in, and are you up or down?

  each account in infos
    h2= account.currency
    p Exchange rate: $#{account.exchange_rate}
    p Amount spent in USD: #{account.usd_spent}
    p Worth in USD: #{account.usd_value}
    p Coin count: #{account.listed_coin_count}
    p Percentage: #{(account.usd_value / account.usd_spent * 100).toFixed(2)} 
  else
    p LOL nothing?
      

